[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
tqdm = "*"
matplotlib = "*"
ipywidgets = "*"
kaggle-environments = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "2.7"
